// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.h7 {
  font-size: 0.8rem;
}

.gedf-wrapper {
  margin-top: 0.97rem;
}

@media (min-width: 992px) {
  .gedf-main {
      padding-left: 4rem;
      padding-right: 4rem;
  }
  .gedf-card {
      margin-bottom: 2.77rem;
  }
}



.num-ol {
  counter-reset: item;
  margin-left: 0;
  padding-left: 0;
}
.num-li {
  display: block;
  margin-bottom: .5em;
  margin-left: 2em;
}
.num-li::before {
  display: inline-block;
  content: "Th: " counter(item);
  counter-increment: item;
  width: 3em;
  margin-left: -2em;
}




